<!DOCTYPE html>
<head>
	
</head>
<html xmlns:th="http://www.thymeleaf.org">
	
<body>
	<div th:fragment="header" id="header">
	<div class="socks"><h1>SOCKSS<i class="fa-solid fa-socks"></i>SSS</h1></div>
	    <div class="nav" th:if="${session.user != null}">
			
			<div class="nav-box">
			<div>
	        <p class="youkoso">ようこそ、<span class="username" th:text="${session.user.userName}"></span> さん !</p>
			</div>
	        	
			
			<div>	
			<!-- 商品検索フォーム -->
			<form th:action="@{/products/search}" method="get" class="search-form">

			    <button type="submit" class="search-btn">
			        <i class="fa-solid fa-magnifying-glass"></i>
			    </button>
				
				<input type="text" name="keyword" placeholder="商品名で検索" class="search-input">

				<select name="maker" class="search-select">
							        <option value="">メーカー名</option>
							        <option value="snow">SNOW</option>
							        <option value="river">RiveR</option>
							        <option value="god">GOD</option>
							        
							    </select>
			</form>
			
			</div>
			
			<div class="nav-icon">
			 <p><a th:href="@{/products}">
		
				<div class="header-icon">		
					<div><p>商品一覧</p></div>
					<div class="flex-icon">
								
								<i class="fa-solid fa-socks"></i>
								</div>
							</div>
						</a></p>
			
			
			<p><a th:href="@{/cart}">
							<div class="header-icon">
							<div><p>カート</p></div>
							<div class="flex-icon">
						    <i class="fa-solid fa-cart-shopping"></i>
							</div>
							</div>
						</a></p>
						
						<p><a th:href="@{/logout}">
										<div class="header-icon">
										<div><p>ログアウト</p></div>
										<div class="flex-icon">
											<!-- <div class="moji">LOGOUT</div> -->
											<i class="fa-solid fa-arrow-right-from-bracket"></i>
										</div>
										</div>
									</a></p>
				</div>
									
				</div>		
				
							
	    </div>
		

	    <div th:if="${session.user == null}">
	        <a th:href="@{/login}">ログイン</a>｜
	        <a th:href="@{/users/add}">新規登録</a>
	    </div>

	    <hr>
	</div>
</body>
</html>
