<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
</head>
<body>

<h1>商品一覧</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>商品名</th>
        <th>メーカー</th>
        <th>価格</th>
    </tr>

    <tr th:each="product : ${products}">
        <td th:text="${product.productId}"></td>

        <td>
            <a th:href="@{/products/detail(id=${product.productId})}"
               th:text="${product.productName}">
            </a>
        </td>

        <td th:text="${product.makerName}"></td>
        <td th:text="${product.price}"></td>
    </tr>
</table>


<br>
<a href="/cytech_ec/top">TOPへ戻る</a>

</body>
</html>
