<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>カート詳細</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
		  <!--google fonts-->
		  <link rel="preconnect" href="https://fonts.googleapis.com">
		  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		  <link href="https://fonts.googleapis.com/css2?family=BBH+Bartle&family=DotGothic16&family=M+PLUS+Rounded+1c:wght@400;500;700&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Rampart+One&family=Zen+Maru+Gothic:wght@400;500;700;900&display=swap" rel="stylesheet">
		  				  
</head>
<body>

<th:block th:replace="common/header :: header"></th:block>

<div id="page-style">
	
	
	
<h1>カート詳細</h1>

<div class="cart-confirm-wrapper">

  <!-- 左：カート一覧 -->
  <div class="cart-main">

<div th:if="${message}" class="flash-message">
    <p th:text="${message}"></p>
</div>


<div class="cart-container">

    
    <div class="cart-card" th:each="item, stat : ${cart}">

        <!-- 商品画像 -->
        <img class="cart-img"
             th:src="@{'/img/' + ${item.product.imagePath}}"
             alt="商品画像">

        <!-- 商品情報 -->
        <div class="cart-info">

            <h2 th:text="${item.product.productName}"></h2>
<div class="tax-flex">
			<p>¥<span th:text="${item.product.price}"></span><span class="tax-font">+Tax</span></p>

			<p class="tax-cart">( ¥<span th:text="${#numbers.formatInteger(item.product.price * 1.1, 0)}"></span> )</p>
			</div>
			
			<form th:action="@{/cart/update}" method="post" class="quantity-form">
<div class="stock">
			                <input type="hidden" name="index" th:value="${stat.index}">

			                <label>数量</label>
			                <select name="quantity">
			                    <option th:each="i : ${#numbers.sequence(1, item.product.stock)}"
			                            th:value="${i}"
			                            th:text="${i}"
			                            th:selected="${i == item.quantity}">
			                    </option>
			                </select>
<br>
			                <button type="submit" class="update-btn">更新</button>
							</div>
			            </form>

						

            <form th:action="@{/cart/delete}" method="post">
                <input type="hidden" name="index" th:value="${stat.index}">
                <button class="delete-btn" type="submit">削除</button>
            </form>
        </div>
    </div>
    

</div>

<h2>合計金額：¥<span th:text="${#numbers.formatInteger(total, 0)}"></span></h2>


<div class="cart-actions">
    <a th:href="@{/products}">
        <div class="btn-wrap"><button type="button" class="back-btn">買い物を続ける</button></div> 
    </a>
	
</div>

</div>

  <!-- 右：サイドバー -->
  <aside class="cart-sidebar">
	
      <p>小計：¥<span th:text="${subtotal}"></span></p>
      <p>合計（税込）：¥<span th:text="${total}"></span></p>

      <form th:action="@{/purchase}" method="get">
          <div class="btn-wrap"><button class="new-btn">購入に進む</button></div>
      </form>
  </aside>

</div>


</div>
</body>
</html>
