<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ログイン</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

	<div id="page-style">
<h1>ログイン</h1>


<form th:action="@{/login}" method="post">

    <div class="text">
        <input type="text" name="email" placeholder="メールアドレス">
    </div>
    
    <div class="text">
        <input type="password" name="password" placeholder="パスワード">
    </div>
	
	<div><div class="btn-wrap"><button type="submit" class="login-btn">ログイン</button></div></div>
    
</form>
<div class="error">
<p th:text="${error}"></p>
</div>

<a th:href="@{/users/add}"><div class="btn-wrap"><button type="submit" class="add-btn">新規登録</button></div></a>
</div>
</body>
</html>
